.footer{
    text-align: center;
}

.footer ul{
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: -50px;
    margin-left: -20px;
}

.footer li{
    margin: 15px;
    margin-top: 100px;
}
 .footer p{
    margin-top: -50px;
 }
