.card{
    color: #21243d;
    display: flex;
    margin: 25px;
}

.card img{
    width: 400px;
    margin-left: 50px;
    border-radius: 5px;
}

.card h3{
    font-size: 40px;
    margin-left: 70px;
    margin-top: -15px;
}

.card p{
    font-size: 20px;
    margin-left: 70px;
}